---
layout: default
---

{% include monogram.html %}
<div class="row">
  <div class="col-md-12">
    {% include card.html name="locations" %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% include card.html name="hotels" %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% include card.html name="her_story" %}
  </div>
  <div class="col-md-6">
    {% include card.html name="his_story" %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% include card.html name="registry" %}
  </div>
</div>
