@media (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}

body {
  background-color: #333333;
}

.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center .card-body {
  text-align: left;
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
                           /* reset the font property */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-card {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);

  background-color: white;

  border-radius: 2pt;
}

#monogram {
  width: 100pt;
  height: 100pt;
  margin: 35pt 10pt 10pt 10pt;
  fill: white;
  stroke: white;
}

.card {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.card-body {
  background-color: rgba(255, 255, 255, 1);
  border-radius: .25rem;
}

.card-title {
  color: white;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: -0.6rem;
}

a {
  color: #447FB3;
}
